@media (max-width: 991px) {
  .modal {
    --bs-modal-width: 90%;
  }
  .product__dropdown-menu {
    max-width: 250px;
  }
}

@media (max-width: 890px) {
  .section {
    padding: 20px 0;
  }
  .header__bottom-list .header__bottom-list-item button {
    color: #333;
    font-size: 12px;
  }

  .header__middle-list .item-social a {
    font-size: 12px;
  }

  .hero__swiper-btn-prev,
  .hero__swiper-btn-next {
    display: none;
  }

  .footer .footer__contacts .footer__contacts-list .footer__contacts-list-item a {
    font-size: 12px;
  }
  .footer .footer__contacts .footer__contacts-city {
    font-size: 12px;
  }

  .product__dropdown-menu {
    max-width: 200px;
  }

}

@media (max-width: 728px) {
  .hero-container .hero__slide {
    height: 350px;
  }

  .header__top-search-container {
    max-width: 200px;
  }

  .hero-container .hero__swiper-pagination {
    padding-top: 5px;
  }
  .hero-container .hero__swiper-pagination .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,5px);
    width: 10px;
    height: 10px;
  }

  .hero {
    padding: 0;
  }

  .dropdown-menu li .dropdown-item {
    padding: 6px 8px;
    font-size: 11px;
  }

  .footer .footer__logo {
    margin-right: 20px;
    max-width: 150px;
    font-size: 20px;
  }
  .footer .footer__logo p {
    font-size: 9px;
  }
  .footer__catalog-list {
    padding: 0;
  }

  .product__card-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product__cards-container .product__card-list .product__card-list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 670px) {
  .header__top-wrapper {
    display: none;
  }
  .header__bottom-wrapper {
    display: none;
  }

  .header__middle-list-item.item-social {
    display: none;
  }

  .header__middle-list-item-mobile {
    display: block;
  }
  .header__middle-list .item-social a {
    font-size: 11px;
  }
  .header__middle-list .item-social a:not(:last-child) {
    margin-bottom: 0;
  }

  .header__middle-wrapper {
    padding: 10px 0;
  }

  .header__mobile-burger {
    display: block;
  }

  .footer .footer__logo {
    margin-right: 10px;
    max-width: 130px;
    font-size: 18px;
    p {
      font-size: 8px;
    }
  }

  .footer .footer__contacts .footer__contacts-list .footer__contacts-list-item a {
    font-size: 11px;
  }

  .modal-body, .modal-footer {
    padding: 10px;
  }

  .modal__product-content {
    max-width: 300px;
    width: 100%;
  }

  .modal__product-content .product-title {
    font-size: 16px;
  }
  .modal__product-content .product-materials {
    margin-bottom: 10px;
  }
  .modal__product-content .product-descr {
    font-size: 12px;
  }

  .modal__product-content .color-steel span, .modal__product-content .color-wood span {
    font-size: 12px;
  }
  .modal__product-content .color-steel__list .item__mark-steel,
  .modal__product-content .color-wood__list .item__mark-wood {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 580px) {
  .footer .footer__container {
    justify-content: center;
    align-items: center;
  }
  .footer .footer__logo {
    display: none;
  }
  .footer__logo-mobile {
    margin-bottom: 15px;
    display: flex;
    font-size: 20px;
    p {
      font-size: 9px;
    }
  }
  .footer .footer__catalog-list.mr-auto {
    margin-right: 15px;
  }

  .modal {
    --bs-modal-width: 500px;
  }

  .product__cards-container .product__cards-sort-list {
    justify-content: center;
  }

  .product__cards-container .product__cards-sort-list .product__cards-sort-list-item .button {
    border: none;
    height: 100%;
    padding: 6px;
  }
  .product__cards-container .product__cards-sort-list .product__cards-sort-list-item {
    display: flex;
    line-height: normal;
  }
  .product__cards-container .product__cards-sort-list .product__cards-sort-list-item:not(:last-child) {
    border-right: 1px solid #000;
  }
}

@media (max-width: 470px) {
  .container {
    padding: 0px 10px;
  }
  .burger-catalog, .burger-menu {
    padding: 15px;
    width: calc(100% + 10px);
  }

  .burger-catalog__list-item, .burger-menu__list-item {
    padding: 0;
    display: flex;
  }

  .burger-catalog__list-item, .burger-menu__list-item {
    line-height: normal;
  }
  .burger-catalog__link, .burger-menu__link {
    padding: 9px 0;
    font-size: 12px;
  }

  .burger-catalog__link svg {
    top: 12px;
    left: -9px;
  }

  .burger-menu {
    left: -10px;
  }
  .burger-catalog {
    right: -10px;
  }

  .footer__logo, .footer__logo-mobile, .header__logo {
    font-size: 20px;
  }

  .header__middle-list .item-social a {
    font-size: 10px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .hero-container .hero__slide {
    height: 300px;
  }

  .section.footer {
    padding: 10px 0;
  }

  .footer__logo-mobile {
    margin-bottom: 5px;
  }
  .footer__catalog-list {
    display: none;
  }
  .footer__contacts {
    display: flex;
    align-items: center;
  }
  .footer__contacts-list-item {
    line-height: normal;
  }
  .footer .footer__contacts .footer__contacts-list {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .modal-body {
    flex-direction: column;
  }

  .product-photo-swiper {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: 100%;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .modal__product-content .product-parameters {
    margin-bottom: 5px;
    color: #333;
    font-size: 12px;
  }

  .btn-fast-order, .btn-in-basket {
    margin: 0;
    align-self: normal;
    padding: 7px;
    font-weight: 600;
  }
  .btn-in-basket {
    margin-bottom: 10px;
  }

  .modal-footer {
    padding-top: 0;
    flex-direction: column;
  }
  .product-count {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
  }

  .container.product-container {
    flex-direction: column;
  }

  .dropdown-menu {
    --bs-dropdown-min-width: 9rem;
  }

  .product__dropdown-menu {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .product__dropdown-menu-list .product-btn {
    font-size: 11px;
  }
  .product__cards-container .product__cards-sort-list .product__cards-sort-list-item .button {
    padding: 5px;
    font-size: 10px;
  }

  .product__cards-container .product__cards-sort-list .product__cards-sort-list-item {
    border-right: 1px solid #000;
    line-height: normal;
  }
  .product__cards-container .product__cards-sort-list {
    justify-content: flex-start;
  }

  .product__dropdown-menu-list .product__dropdown-menu-list-item  .dropdown-menu{
    --bs-dropdown-min-width: 15rem;
  }
  .product__dropdown-menu-list .product-btn.show .product-btn__svg {
    transform: rotate(90deg);
  }
}